$search-bar-background-color: #092b28;
$search-bar-background-focus-color: #0b2f2e;
$search-color: #829e6e;
$search-bar-border-color: #0c4a44;
$search-icon-color: #829e6e;

$header-background-color: #0f4245;
$header-border-bottom-color: #0c4a44;

$tabs-background-color: #105a53;
$tabs-selected-background-color: #15615b;
$tab-border-color: #0f452f94;
$tab-underline-color: #cddc39;
$tab-button-color: #fff;
$tab-button-border-color: #00000030;
